<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.itl.c18131243.appsalondebelleza">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSalonDeBelleza">
        <activity
            android:name=".GridViewDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".VerCitasActivity"
            android:exported="false"
            android:label="Ver Citas" />
        <activity
            android:name=".AgendarCitaActivity"
            android:exported="false"
            android:label="Agendar Cita" />
        <activity
            android:name=".PreciosActivity"
            android:exported="false"
            android:label="Precios" />
        <activity
            android:name=".ConocenosActivity"
            android:exported="false"
            android:label="Visítanos" />
        <activity
            android:name=".DatosPersonalesActivity"
            android:exported="false"
            android:label="Datos Personales" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Inicio" />
        <activity
            android:name=".AcercaDeActivity"
            android:exported="false" />
    </application>

</manifest>